<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- need to add a jquery script to get the username from the server side-->
    <h1>Hello, <%= netid %>!</h1>

    <h2>You are successfully authenticated via CAS Authentication!</h2>

    <a href="/logout/app">Log out of the app</a></br>
    <a href="/logout/cas">Log out of the app and end the CAS session</a></br>
</body>
</html>